In [1]:
import pandas as pd
import numpy as np

train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [2]:
test_data = pd.read_csv("test.csv")
test_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [9]:
test_data.describe(include="all")
# Since this data is the data recovered from the spaceship, we assume that the data is MCAR.

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
count,4277,4190,4184,4177,4185,4186.000000,4184,4195.000000,4171.000000,4179.000000,4176.000000,4197.000000,4183
unique,4277,3,2,3265,3,NaN,2,NaN,NaN,NaN,NaN,NaN,4176
top,0013_01,Earth,False,G/160/P,TRAPPIST-1e,NaN,False,NaN,NaN,NaN,NaN,NaN,Cints Erle
freq,1,2263,2640,8,2956,NaN,4110,NaN,NaN,NaN,NaN,NaN,2
mean,NaN,NaN,NaN,NaN,NaN,28.658146,NaN,219.266269,439.484296,177.295525,303.052443,310.710031,NaN
std,NaN,NaN,NaN,NaN,NaN,14.179072,NaN,607.011289,1527.663045,560.821123,1117.186015,1246.994742,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,19.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,26.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,37.000000,NaN,53.000000,78.000000,33.000000,50.000000,36.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,79.000000,NaN,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000,NaN

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

In [10]:
y = train_data["Transported"]
features = ["HomePlanet", "CryoSleep", "Destination", "Age", "VIP"]

X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])
# num_features = ["Age"]
# cat_features = ["HomePlanet", "CryoSleep", "Destination", "VIP"]

# # Fit the imputer on the training data
# num_imputer = SimpleImputer(strategy="mean")
# cat_imputer = SimpleImputer(strategy="mean")

# my_imputer.fit(train_data[features])

# # Transform the training and test data
# imp_train = pd.DataFrame(my_imputer.transform(train_data[features]))
# imp_test = pd.DataFrame(my_imputer.transform(test_data[features]))

# # Assign column names
# imp_train.columns = train_data[features].columns
# imp_test.columns = test_data[features].columns

In [11]:
### Build model
# model1 = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
# model1.fit(X, y)

# predictions = model1.predict(X_test)
# output = pd.DataFrame({"PassengerId" : X_test["PassengerId"], "Transported" : predictions})
# output.to_csv("submission_sp_titanic.csv", index = False)

ValueError: Input X contains NaN.
RandomForestClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [12]:
import xgboost as xgb
from xgboost import DMatrix

In [13]:
# Prepare data in XGBoost
xg_data = DMatrix(X, label = y)

params = {
    "colsample_bynode": 0.8,  # Randomly sample columns at each split
    "learning_rate": 1,  # Learning rate
    "max_depth": 5,  # Maximum depth of the trees
    "num_parallel_tree": 100,  # Number of trees to grow
    "objective": "binary:logistic",  # Objective function
    "subsample": 0.8,  # Randomly sample rows at each step
    "tree_method": "hist"  # Tree construction algorithm
}

bst = xgb.train(params, xg_data, num_boost_round=1)

In [17]:
### Predcitions
xg_pred_data = DMatrix(X_test)
probabilities = bst.predict(xg_pred_data)
predictions = [True if prob >= 0.5 else False for prob in probabilities]

output = pd.DataFrame({"PassengerId" : test_data["PassengerId"], "Transported" : predictions})
output.to_csv("submission_sp_titanic.csv", index = False)